{% extends "todoapp/layout.html" %}
{% load static %}

{% block body %}
<section class="performance-div">
 <h1> Your score is {{ score }} </h1>
 <p> {{ msg }} </p>
 <h1> Tasks left to do: </h1>
 <section> 
    <div class="performance-tasks"> 
    {% for t in tasks %}
    <div class="todo"> 
        <strong> {{ t.title }} </strong>
        <p> {{ t.notes }} </p>
        <p> {{ t.dueDate }} </p>
        <div>
            <button onclick="editTodo('{{ t.id }}')" class="btn btn-success"> Edit Todo </button>
            <div id="edit-div">
            </div>
        </div>
        <div>
            <select name="folder" id="folders">
                {% for i in user.folders.all %}
                <option value="{{ i.title }}"> {{ i.title }} </option>
                {% endfor %}
            </select>
            <button onclick="addToFolder('{{ t.id }}', '{{t.title}}')" class="btn btn-secondary"> Add to Folder </button>
        </div>
    </div>
    {% endfor %}
    </div>
</section>
</section>
{% endblock %}